[Unit]
Description=NOR140 Noise Monitor Web App
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=noisedata
WorkingDirectory=/home/noisedata/noisedata
ExecStart=/usr/bin/python3 /home/noisedata/noisedata/noise_app.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
